* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  line-height: 1.4em;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  width: 10em;
  height: 3em;
  border-radius: 4px;
  color: white;
  background: #5BECC0;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: rgba(17, 36, 90, 0.7);
}

.flex {
  display: flex;
  flex-flow: wrap;
}

::selection {
  color: black;
  background: #5BECC0;
}

::-webkit-scrollbar {
  width: 7px;
  margin-right: 5px;
}

::-webkit-scrollbar-track {
  background: #11245A;
  position: fixed;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

section {
  padding: 10%;
  overflow: hidden;
}
section h1 {
  font-size: 2.25em;
  font-weight: 700;
}
section h2 {
  margin-top: 8px;
  color: #11245A;
  font-size: 1em;
  font-weight: 700;
}

div#back-to-top {
  position: fixed;
  z-index: 1;
  right: 2.5%;
  bottom: 5%;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5BECC0;
  opacity: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
div#back-to-top i {
  font-size: 1.5em;
}

div#back-to-top:hover {
  color: white;
  background: #11245A;
}

footer {
  padding: 18px 0 2.5%;
  background: rgba(17, 36, 90, 0.05);
}
footer div.flex {
  padding: 0 10% 2.5%;
}
footer div.flex div.column {
  flex: 20%;
  padding-left: 2%;
}
footer div.flex div.column h2 {
  margin-bottom: 1.5em;
  color: #11245A;
  font-size: 1.125em;
  font-weight: 700;
}
footer div.flex div.column a {
  display: block;
  margin: 1em 0;
  transition: 0.3s ease-in-out;
}
footer div.flex div.column a:hover {
  text-decoration: underline;
  text-decoration-color: #11245A;
}
footer div.flex div.column:first-of-type {
  margin-left: 0;
}
footer div.flex div.column:first-of-type h1 {
  margin-bottom: 24px;
  color: #11245A;
  font-size: 1.75em;
  font-weight: 700;
}
footer div.flex div.column:first-of-type a {
  display: inline-block;
  margin-top: 24px;
  padding: 0 2.5%;
  font-size: 1.125em;
}
footer div.flex div.column:first-of-type a:hover {
  border-radius: 50px;
  color: white;
  background: #11245A;
}
footer div.flex div.column:last-of-type {
  margin-right: 0;
}
footer div.flex div.column:last-of-type address {
  font-style: normal;
}
footer hr {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
footer div#copyright {
  padding: 2.5% 10% 0;
  text-align: center;
}
footer div#copyright p {
  font-weight: 700;
}
footer div#copyright p a {
  font-weight: inherit;
  color: #11245A;
}
footer div#copyright p a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 1% 10%;
  color: white;
  overflow: hidden;
  transition: 0.3s ease-in-out !important;
}
header a h1 {
  float: left;
  font-size: 2em;
  font-weight: 700;
}
header nav {
  float: right;
  width: 45%;
  padding-top: 0.8%;
  text-align: center;
}
header nav a {
  padding: 0 2.5%;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
header nav a span {
  padding-bottom: 5px;
  font-weight: 400;
  transition: 0.3s;
}
header nav a:hover span {
  border-bottom: 5px solid white;
}
header nav a:first-child {
  padding-left: 0;
}
header nav a:last-child {
  padding-right: 0;
}

header:hover {
  background: #11245A !important;
}

section#hero {
  padding-top: 15%;
  height: 100vh;
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
  display: grid;
  place-items: center;
  background: linear-gradient(0deg, rgba(17, 36, 90, 0.9), rgba(17, 36, 90, 0.9)), url("https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
section#hero h1 {
  font-size: 3em;
  line-height: 57.6px;
}
section#hero p {
  margin: 1em 15% 2em;
  font-size: 1.2em;
  font-weight: 400;
}

section#about-us {
  padding-top: 166px;
  padding-bottom: 5%;
}
section#about-us div {
  flex: 100px;
}
section#about-us div#texts-container {
  padding-left: 5%;
}
section#about-us div#texts-container h1 {
  margin-top: 15%;
}
section#about-us div#texts-container p {
  margin: 2em 0;
  color: #767587;
}

section#services {
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 0;
  background: url("../img/services-bg.png");
}
section#services h1,
section#services h2 {
  text-align: center;
}
section#services p {
  margin: 1em 20% 40px;
  color: #767587;
  font-weight: 700;
  text-align: center;
  line-height: 1.75em;
}
section#services div.flex div.card {
  flex: 20%;
  margin: 0 1.125% 32px;
  padding: 1em;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
section#services div.flex div.card img {
  margin-bottom: 1em;
  padding: 2.5%;
  border: 1px solid #5BECC0;
  border-radius: 4px;
  background: rgba(91, 236, 192, 0.3);
  transition: 0.5s ease-in-out;
}
section#services div.flex div.card h3 {
  font-size: 1.125em;
  font-weight: 700;
}
section#services div.flex div.card p {
  margin: 1em 0 24px;
  color: #767587;
  font-size: 0.875em;
  font-weight: 400;
  text-align: left;
}
section#services div.flex div.card a {
  font-size: 0.875em;
  font-weight: 700;
}
section#services div.flex div.card a i {
  padding-left: 2.5%;
}
section#services div.flex div.card:hover {
  color: white;
  background: #5BECC0;
  box-shadow: 5px 15px 20px 0px rgba(91, 236, 192, 0.25);
}
section#services div.flex div.card:hover img {
  background: white;
}
section#services div.flex div.card:hover p {
  color: white;
  transition: 0.3s ease-in-out;
}
section#services div.flex div.card:hover a:hover {
  color: black;
}

section#contact {
  padding: 120px 0 0 10%;
  background: rgba(17, 36, 90, 0.05);
}
section#contact div {
  flex: 100px;
}
section#contact div#texts-container {
  padding-right: 32px;
}
section#contact div#texts-container form {
  margin-top: 40px;
}
section#contact div#texts-container form label {
  display: block;
  margin: 1.5em 0 1em;
  color: #11245A;
  font-size: 0.875em;
  font-weight: 700;
  cursor: pointer;
}
section#contact div#texts-container form input,
section#contact div#texts-container form textarea {
  width: 100%;
  height: 3em;
  padding: 2.5% 2%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #11245A;
  background: transparent;
}
section#contact div#texts-container form textarea {
  height: 15em;
  resize: none;
}
section#contact div#texts-container form ::placeholder {
  font-weight: 300;
}
section#contact div#texts-container form button {
  margin-top: 1.5em;
  margin-bottom: 120px;
}
section#contact div#img-container img {
  width: 45em;
  height: 50em;
  float: right;
}

section#subscribe {
  padding-top: 80px;
  color: white;
  background: #11245A;
  text-align: center;
}
section#subscribe h2 {
  width: 50%;
  margin: 24px auto 40px;
  color: white;
  font-weight: 300;
}
section#subscribe form {
  margin-top: 5%;
}
section#subscribe form div {
  margin: 0 15%;
  height: 4.375em;
  padding: 8px 1em;
  border-radius: 4px;
  background: white;
}
section#subscribe form div input {
  float: left;
  width: 75%;
  height: 100%;
  color: #11245A;
  font-size: 1.5em;
  outline: none;
}
section#subscribe form div button {
  float: right;
  width: 20%;
  height: 3.375em;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
