* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  line-height: 1.4em;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  width: 10em;
  height: 3em;
  border-radius: 4px;
  color: white;
  background: #5BECC0;
  font-weight: 700;
  outline-color: #5BECC0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: #007D59;
}

.flex {
  display: flex;
  flex-flow: wrap;
}

::selection {
  color: black;
  background: #5BECC0;
}

::-webkit-scrollbar {
  width: 7px;
  margin-right: 5px;
}

::-webkit-scrollbar-track {
  background: #11245A;
  position: fixed;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

section {
  padding: 10% 9.25em;
  overflow: hidden;
}
section h1 {
  font-size: 2.25em;
  font-weight: 700;
}
section h2 {
  margin-top: 8px;
  color: #11245A;
  font-size: 1em;
  font-weight: 700;
}
section div.hidden-by-default {
  max-height: 0;
  overflow: hidden;
  transition: 1s ease;
}
section div.hidden-by-default.shown {
  max-height: 50em;
}

div#overlay {
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}
div#overlay div {
  width: auto;
  max-width: 30%;
  height: auto;
  max-height: 50%;
  padding: 1em;
  border-radius: 4px;
  background: white;
  overflow-y: scroll;
}
div#overlay div img {
  margin-bottom: 1em;
  padding: 2.5%;
  border: 1px solid #5BECC0;
  border-radius: 4px;
  background: rgba(91, 236, 192, 0.3);
}
div#overlay div h3 {
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: 700;
}
div#overlay div p {
  display: block;
  margin: 10px 0;
  color: #767587;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
}
div#overlay div a {
  display: none;
}

div#overlay.active {
  position: fixed;
}

div#back-to-top {
  position: fixed;
  z-index: 1;
  right: 2.5%;
  bottom: 5%;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5BECC0;
  opacity: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
div#back-to-top i {
  font-size: 1.5em;
}

div#back-to-top:hover {
  color: white;
  background: #11245A;
}

@media (max-width: 800px) {
  .flex {
    display: block;
  }

  section {
    padding-left: 5%;
    padding-right: 5%;
  }
}
footer {
  padding: 80px 0 5px;
  background: rgba(17, 36, 90, 0.05);
}
footer div.flex {
  padding: 0 9.25em 1px;
}
footer div.flex div.column {
  flex: 33.33%;
  padding-left: 2%;
  text-align: center;
}
footer div.flex div.column h2 {
  margin-bottom: 1.5em;
  color: #11245A;
  font-size: 1.125em;
  font-weight: 700;
}
footer div.flex div.column a {
  display: block;
  margin: 1em 0;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
footer div.flex div.column a:hover {
  text-decoration: underline;
  text-decoration-color: #11245A;
}
footer div.flex div.column:first-of-type {
  margin-left: 0;
  text-align: left;
}
footer div.flex div.column:first-of-type h1 {
  margin-bottom: 18px;
  color: #11245A;
  font-size: 2em;
  font-weight: 700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
footer div.flex div.column:first-of-type p {
  font-weight: 400;
}
footer div.flex div.column:first-of-type a {
  display: inline-block;
  margin-top: 24px;
  padding: 0 2.5%;
  font-size: 1.125em;
}
footer div.flex div.column:first-of-type a:hover {
  border-radius: 50px;
  color: white;
  background: #11245A;
}
footer div.flex div.column:last-of-type {
  margin-right: 0;
}
footer div.flex div.column:last-of-type address {
  font-style: normal;
}
footer hr {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
footer div#copyright {
  padding: 16px 9.25em 0;
  text-align: center;
}
footer div#copyright p {
  font-weight: 700;
}
footer div#copyright p a {
  font-weight: inherit;
  color: #11245A;
}
footer div#copyright p a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  footer {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  footer div.flex {
    display: flex;
    padding: 0;
  }
  footer div.flex div.column {
    margin-top: 2em;
    margin-left: 0;
    margin-right: 0;
  }
  footer div.flex div.column:nth-of-type(1) {
    text-align: center;
  }
  footer div.flex div.column:nth-of-type(1),
footer div.flex div.column:nth-of-type(4) {
    flex: 100%;
  }
  footer div.flex div.column:nth-of-type(2),
footer div.flex div.column:nth-of-type(3) {
    flex: 50%;
  }
}
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 1% 9.25em;
  color: white;
  overflow: hidden;
  transition: 0.3s ease-in-out !important;
}
header a h1 {
  float: left;
  font-size: 2em;
  font-weight: 700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header nav {
  float: right;
  width: 45%;
  padding-top: 0.8%;
  text-align: center;
}
header nav a {
  padding: 0 4%;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
header nav a span {
  padding-bottom: 5px;
  font-weight: 400;
  transition: 0.3s;
}
header nav a:hover span {
  border-bottom: 5px solid white;
}
header nav a:first-child {
  padding-left: 0;
}
header nav a:last-child {
  padding-right: 0;
}
header nav a:last-child span {
  float: right;
}

header:hover {
  background: #11245A !important;
}

@media (max-width: 800px) {
  header {
    padding: 1% 5%;
  }
  header nav {
    display: none;
  }
  header nav a {
    display: block;
  }
}
section#hero {
  padding-top: 15%;
  height: 100vh;
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
  display: grid;
  place-items: center;
  background: linear-gradient(0deg, rgba(17, 36, 90, 0.9), rgba(17, 36, 90, 0.9)), url("https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section#hero h1 {
  font-size: 3em;
  line-height: 57.6px;
}
section#hero p {
  margin: 1em 15% 2em;
  font-size: 1.2em;
  font-weight: 400;
}
section#hero a {
  display: inline-block;
}

@media (max-width: 800px) {
  section#hero {
    height: 100%;
    padding-top: 10em;
    text-align: left;
  }
  section#hero p {
    margin-left: 0;
    margin-right: 0;
  }
}
section#about-us {
  padding-top: 166px;
  padding-bottom: 5%;
}
section#about-us div {
  flex: 100px;
}
section#about-us div#texts-container {
  height: fit-content;
  padding-left: 5%;
}
section#about-us div#texts-container h1 {
  margin-top: 15%;
}
section#about-us div#texts-container p {
  margin: 2em 0;
  color: #767587;
}

@media (max-width: 800px) {
  section#about-us {
    padding-top: 1em;
  }
  section#about-us div#image-container img {
    width: 100%;
    text-align: center;
  }
  section#about-us div#texts-container {
    padding-left: 0;
  }
  section#about-us div#texts-container h1 {
    margin-top: 1em;
  }
}
section#services {
  padding-bottom: 0;
  background: url("../img/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
section#services h1,
section#services h2 {
  text-align: center;
}
section#services p {
  margin: 1em 20% 40px;
  color: #767587;
  font-weight: 700;
  text-align: center;
  line-height: 1.75em;
}
section#services div.flex div.card {
  flex: 20%;
  margin: 0 1.125% 32px;
  padding: 1em;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  overflow: hidden;
}
section#services div.flex div.card img {
  margin-bottom: 1em;
  padding: 2.5%;
  border: 1px solid #5BECC0;
  border-radius: 4px;
  background: rgba(91, 236, 192, 0.3);
  transition: 0.5s ease-in-out;
}
section#services div.flex div.card h3 {
  font-size: 1.125em;
  font-weight: 700;
}
section#services div.flex div.card p {
  display: none;
  height: 8.5em;
  text-overflow: ellipsis;
  margin: 1em 0 24px;
  color: #767587;
  font-size: 0.875em;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
}
section#services div.flex div.card p:first-of-type {
  display: block;
}
section#services div.flex div.card a {
  font-size: 0.875em;
  font-weight: 700;
  color: black;
}
section#services div.flex div.card a i {
  padding-left: 2.5%;
}
section#services div.flex div.card:nth-of-type(1),
section#services div.flex div.card:nth-of-type(5),
section#services div.flex div.card:nth-of-type(9) {
  margin-left: 0;
}
section#services div.flex div.card:nth-of-type(4),
section#services div.flex div.card:nth-of-type(8),
section#services div.flex div.card:nth-of-type(12) {
  margin-right: 0;
}
section#services div.flex div.card:hover {
  color: white;
  background: #5BECC0;
  box-shadow: 5px 15px 20px 0px #5BECC040;
}
section#services div.flex div.card:hover img {
  background: white;
}
section#services div.flex div.card:hover p {
  color: white;
  transition: 0.3s ease-in-out;
}
section#services div.flex div.card:hover a:hover {
  color: #11245A;
  transition: 0.3s ease-in-out;
}

@media (max-width: 800px) {
  section#services {
    padding-left: 5%;
    padding-right: 5%;
  }
  section#services h1,
section#services h2 {
    text-align: left;
  }
  section#services p {
    margin-left: 0;
    text-align: left;
  }
  section#services div.flex div.card {
    margin-left: 0;
    margin-right: 0;
  }
}
section#contact {
  padding: 120px 0 0 9.25em;
  background: rgba(17, 36, 90, 0.05);
}
section#contact div {
  flex: 100px;
}
section#contact div#texts-container {
  padding-right: 32px;
}
section#contact div#texts-container form {
  margin-top: 40px;
}
section#contact div#texts-container form label {
  display: block;
  margin: 1.5em 0 1em;
  color: #11245A;
  font-size: 0.875em;
  font-weight: 700;
  cursor: pointer;
}
section#contact div#texts-container form input,
section#contact div#texts-container form textarea {
  width: 100%;
  height: 3em;
  padding: 2.5% 2%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #11245A;
  background: transparent;
}
section#contact div#texts-container form textarea {
  height: 15em;
  resize: none;
}
section#contact div#texts-container form ::placeholder {
  font-weight: 300;
}
section#contact div#texts-container form button {
  margin-top: 1.5em;
  margin-bottom: 120px;
}
section#contact div#img-container img {
  float: right;
  width: 45em;
  height: 50em;
}

@media (max-width: 800px) {
  section#contact {
    padding-left: 0;
  }
  section#contact div#texts-container {
    padding-left: 5%;
  }
  section#contact div#img-container img {
    float: none;
    width: 100%;
    height: 20em;
    margin-bottom: -1em;
  }
}
section#subscribe {
  padding-top: 80px;
  color: white;
  background: #11245A;
  text-align: center;
}
section#subscribe h2 {
  width: 50%;
  margin: 24px auto 40px;
  color: white;
  font-weight: 300;
}
section#subscribe form {
  margin-top: 5%;
}
section#subscribe form div {
  margin: 0 15%;
  height: 4.375em;
  padding: 8px 1em;
  border-radius: 4px;
  background: white;
}
section#subscribe form div input {
  float: left;
  width: 75%;
  height: 100%;
  color: #11245A;
  font-size: 1em;
  font-weight: 600;
  outline: none;
}
section#subscribe form div button {
  float: right;
  width: 20%;
  height: 3.375em;
}
section#subscribe form button#show-on-mobile {
  display: none;
  height: 3.375em;
  margin-top: 1em;
}

@media (max-width: 800px) {
  section#subscribe h2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  section#subscribe form div {
    margin: 0;
    width: 100%;
  }
  section#subscribe form div input {
    width: 100%;
    font-size: 1em;
  }
  section#subscribe form div button {
    display: none;
  }
  section#subscribe form button#show-on-mobile {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
