a {
    color: inherit;
    text-decoration: none;
}

button {
    width: 10em;
    height: 3em;
    border-radius: 4px;
    color: white;
    background: $cyan;
    font-weight: 400;
    outline-color: $cyan;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: $light-green;
}

.flex {
    display: flex;
    flex-flow: wrap;
}

::selection {
    color: black;
    background: $cyan;
}

::-webkit-scrollbar {
    width: 7px;
    margin-right:5px;
}

::-webkit-scrollbar-track {
    background: $dark-blue;
    position: fixed;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

section {
    padding: 10%;
    overflow: hidden;

    h1 {
        font-size: 2.25em;
        font-weight: 700;
    }

    h2 {
        margin-top: 8px;
        color: $dark-blue;
        font-size: 1em;
        font-weight: 700;
    }

    // stays hidden until toggled by a read more button
    div.hidden-by-default {
        height: 0;
        overflow: hidden;
        transition: 1s ease;
    }

    div.hidden-by-default.shown {
        height: 100%;
    }
}


// Back to Top Button
div#back-to-top {
    position: fixed;
    z-index: 1;
    right: 2.5%;
    bottom: 5%;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $cyan;
    opacity: 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    i {
        font-size: 1.5em;
    }
}

div#back-to-top:hover {
    color: white;
    background: $dark-blue;
}


@media (max-width: 800px) {
    .flex {
        display: block;
    }

    section {
        padding-left: 5%;
        padding-right: 5%;
    }
}