section#about-us {
	padding-bottom: 5%;

    div {
        flex: 100px;
    }

    div#texts-container {
        padding-left: 5%;

        h1 {
            margin-top: 15%;
        }

        p {
            margin: 5% 0;
            color: $light-gray;
        }
    }
}