section#subscribe {
    padding-top: 80px;
    color: white;
    background: $dark-blue;
    text-align: center;

    h2 {
        width: 50%;
        margin: 24px auto 40px;
        color: white;
        font-weight: 300;
    }

    form {
        margin-top: 5%;

        div {
            margin: 0 15%;
            height: 4.375em;
            padding: 8px 1em;
            border-radius: 4px;
            background: white;


            input {
                float: left;
                width: 75%;
                height: 100%;
                color: $dark-blue;
                font-size: 1.5em;
                outline: none;
            }

            button {
                float: right;
                width: 20%;
                height: 3.375em;
                text-transform: uppercase;
            }
        }
    }
}