// Colors
$dark-blue: #11245A;
$cyan: #5BECC0;
$cyan-transparent: rgba(91, 236, 192, 0.3);
$light-gray: #767587;
$light-green: #007D59;

// Font Styles
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;