footer {
    padding: 80px 0 5px;
    background: $dark-blue-transparent;

    div.flex {
        padding: 0 9.25em 1px;

        div.column {
            flex: 33.33%;
            text-align: center;

            h2 {
                margin-bottom: 1.5em;
                color: $dark-blue;
                font-size: 1.125em;
                font-weight: 700;
            }

            a {
                display: block;
                margin: 1em 0;
                font-weight: 700;
                transition: 0.3s ease-in-out;
            }

            a:hover {
                text-decoration: underline;
                text-decoration-color: $dark-blue;
            }
        }

        div.column:first-of-type {
            margin-left: 0;
            text-align: left;

            img {
                width: 20em;
            }

            p {
                font-weight: 400;
            }

            a {
                height: 2em;
                width: 2em;
                display: inline-grid;
                place-items: center;
                margin-top: 24px;
                padding: 0 2.5%;
                font-size: 1.125em;
            }

            a:hover {
                border-radius: 50px;
                color: white;
                background: $dark-blue;
            }
        }

        div.column:last-of-type {
            margin-right: 0;

            address {
                font-style: normal;
            }
        }
    }

    hr {
        height: 1px;
        background: rgba(0, 0, 0, 0.1)
    }

    div#copyright {
        padding: 16px 9.25em 0;
        text-align: center;
        
        
        p {
            font-weight: 700;

            a {
                font-weight: inherit;
                color: $dark-blue;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

// RESPONSIVENESS
@media (max-width: 800px) {
    footer {
        padding-left: 2.5%;
        padding-right: 2.5%;

        div.flex {
            display: flex;
            padding: 0;

            div.column {
                margin-top: 2em;
                margin-left: 0;
                margin-right: 0;
            }

            div.column:nth-of-type(1) {
                text-align: center;
            }

            div.column:nth-of-type(1),
            div.column:nth-of-type(4) {
                flex: 100%;
            }

            div.column:nth-of-type(2),
            div.column:nth-of-type(3) {
                flex: 50%;
            }
        }
    }
}