header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 1% 10%;
    color: white;
    // background: $dark-blue;
    overflow: hidden;
    transition: 0.3s ease-in-out !important;

    a {
        h1 {
            float: left;
            font-size: 2em;
            font-weight: 700;
        }
    }

    nav {
        float: right;
        width: 45%;
        padding-top: 0.8%;
        text-align: center;

        a {
            padding: 0 2.5%;
            text-transform: uppercase;
            transition: 0.3s ease-in-out;

            span {
                padding-bottom: 5px;
                font-weight: 400;
                transition: 0.3s;
            }
        }

        a:hover {
            span {
                border-bottom: 5px solid white;
            }
        }

        a:first-child {
            padding-left: 0;
        }

        a:last-child {
            padding-right: 0;
        }
    }
}


header:hover {
    background: $dark-blue !important;
}